.container {
  min-height: 100vh;
}

.shadow {
  text-shadow: 2px 2px 2px #3f51b5;
  font-weight: 900;
  color: #eeeeee;
  cursor: pointer;
}

.p-box {
  padding: 0.5rem 1rem;
}
.mb-1_5 {
  margin-bottom: 1.5rem;
}
.mw-75 {
  min-width: 75px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}